<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-content__left-group">
                <h2 class="footer-content__site-name">{{ site.title }}</h2>
                <p>senluoshe.com</p>
            </div>
            <div class="footer-content__right-group">

            </div>
        </div>
        <div class="footer-social">
            <a href="#" class="icons"><img src="/images/icons/weibo.svg"></a>
            <a href="mailto:senluoshe@qq.com" class="icons"><img src="/images/icons/weibo.svg"></a>
        </div>
    </div>
</footer>
