<header>
    <nav>
        <ul class="top-nav">
            <li class="top-nav__logo"><a href="/">{{ site.title }}</a></li>
            <div class="top-nav__link-group">
                <li class="top-nav__link"><a href="/">首页</a></li>
                <li class="top-nav__link"><a href="/history">历史</a></li>
                <li class="top-nav__link"><a href="/culture">文化</a></li>
                <li class="top-nav__link"><a href="/events">活动</a></li>
            </div>
        </ul>
    </nav>
</header>
