<header>
    <nav>
        <ul class="top-nav">
            <li class="top-nav__logo"><a href="/">{{ site.title }}</a></li>
            <div class="top-nav__link-group">
                <li class="top-nav__link"><a href="/">首页</a></li>
                <li class="top-nav__link"><a href="/history">历史</a></li>
                <li class="top-nav__link"><a href="/culture">文化</a></li>
                <li class="top-nav__link"><a href="/food">饮食</a></li>
            </div>
            <div class="top-nav__icon-group">
                <img class="svg-icon" src="images/dark-mode.svg">
            </div>
        </ul>
    </nav>
</header>
